$dark_cyan: hsl(185, 75%, 39%);
$very_dark_desaturated_blue: hsl(229, 23%, 23%);
$dark_grayish_blue: hsl(227, 10%, 46%);

$dark_gray: hsl(0, 0%, 59%);

$font: 'Kumbh Sans', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} // reset

.main-container {
    width: 100vw;
    height: 100vh;
} // .main-container