* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
  background-color: #19a2ae;
  background-position: right 51vw bottom 40vh, left 48vw top 50vh;
  background-repeat: no-repeat;
}

.main-container .card {
  width: 350px;
  min-width: 350px;
  height: 375px;
  min-height: 375px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  font-family: "Kumbh Sans", sans-serif;
}

.main-container .card header {
  height: 140px;
  width: 100%;
  background: url(./images/bg-pattern-card.svg);
}

.main-container .card .picture-container {
  position: absolute;
  width: 105px;
  height: 105px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  top: 87px;
  left: 122px;
}

.main-container .card .picture-container img {
  width: 95px;
  border-radius: 100px;
}

.main-container .card .user_info-container {
  width: 100%;
  padding: 72px 0 0 0;
  text-align: center;
}

.main-container .card .user_info-container .name-age {
  font-size: 18px;
  margin: 0 0 8px 0;
}

.main-container .card .user_info-container .name-age h1 {
  color: #2d3248;
  font-weight: 700;
  margin: 0 7px 0 0;
  font-size: 18px;
  display: inline-block;
}

.main-container .card .user_info-container .name-age span {
  font-weight: 400;
  color: #6a6f81;
}

.main-container .card .user_info-container .location {
  color: #6a6f81;
  font-size: 14px;
}

.main-container .card .stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: solid 1px rgba(150, 150, 150, 0.3);
  margin: 24px 0 0 0;
  padding: 24px 20px 0 20px;
}

.main-container .card .stats-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .card .stats-container div span {
  text-align: center;
}

.main-container .card .stats-container div span:nth-child(1) {
  font-size: 18px;
  color: #2d3248;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 4px 0;
}

.main-container .card .stats-container div span:nth-child(2) {
  font-weight: 400;
  color: #6a6f81;
  text-transform: capitalize;
  font-size: 10px;
  letter-spacing: 2px;
}
/*# sourceMappingURL=styles.css.map */